<div id="sfabt-pre-wrap" tabindex="0" aria-label="{{{ wrapper_label }}}{{! Must be escaped with esc_attr(). }}">
	<pre id="sfabt-pre">
		<h2 id="sfabt-title">
			<button class="sfabt-no-button sfabt-get-var-button" title="{{{ button_title }}}{{! Must be escaped with esc_attr(). }}" data-var="{{{ var_escaped }}}{{! Must be escaped with esc_attr(). }}">
				<span id="sfabt-var-name">{{ var }}</span>
				<span class="sfabt-spin" title="{{{ spinner_title }}}{{! Must be escaped with esc_attr(). }}"></span>
			</button>
		</h2>
		<code id="sfabt-code"></code>
	</pre>
</div>
