<button class="sfabt-no-button sfabt-get-var-button" data-var="{{{ var_name_attr }}}{{! Must be escaped with esc_attr(). }}">
	<span>{{ var_name }}</span>
	<span class="sfabt-spin" title="{{{ spinner_title }}}{{! Must be escaped with esc_attr(). }}"></span>
</button>
